<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cluster test</title>
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/vis-network/standalone/umd/vis-network.min.js') }}"></script>

    <script type="text/javascript">

        let nodes;
        let edges;
        let data;
        let hiddenData = {nodes: new vis.DataSet(), edges: new vis.DataSet()};
        var network;

        function draw() {
            nodes = new vis.DataSet(
            	[{
                    id:45, 
                    label:"CLUSTER_1",
                    cid: "CLUSTER_1",
                    fixed: {x: true, y: true}, 
                    x:0, y:0, 
                    color:{
                        background:'rgba(0,0,0,0.1)', 
                        border:'rgba(0,0,0,0.5)',
                        highlight: {
                            background: 'rgba(0,0,0,0.1)',
                            border: 'rgba(0,0,0,1)'
                        },
                    }, 
                    size: 100,
                    shape:'square'},
                // {   id:'my', 
                //     shape: 'custom',
                //         ctxRenderer: function({ ctx, x, y, state: { selected, hover }, style }){
                //             return{
                //                 drawNode(){
                //                     ctx.fillRect(25, 25, 100, 100);  
                //                 }
                //             }
                //     }
                // },
                {id:'A',label:'A',cid:"CLUSTER_1", fixed: {x: true, y: true}, x:-40, y:-40},
            	{id:'B',label:'B',cid:"CLUSTER_1", fixed: {x: true, y: true}, x:40, y:40, color: 'red'},
            	{id:'C',label:'C', color: 'red'}]);

            edges = 
                [
                {from:'A', to:'C', arrows:'from'},{from:'B', to:'C', arrows:'from'},
                {from:'C', to:'A',arrows:'from'}];
            data = {nodes: nodes, edges: edges};

            // create a network
            var container = document.getElementById("mynetwork");

            var options = {
                interaction: {
                    zoomSpeed: 2
                },
                edges: {
                    smooth: {
                        forceDirection: "none",
                        roundness: 0,
                    },
                   color:{
                        inherit: false,
                    }
                },
                layout: {
                    improvedLayout: false
                },
                physics: {
                    barnesHut: {
                        gravitationalConstant: -758211,
                        centralGravity: 0.6,
                        avoidOverlap: 1
                    },
                    stabilization: false,
                    timestep: 0.3,
                    wind: {x: 0, y: 0},
                    minVelocity:10 // più lo aumento più la rete diventa 'insensibile' a variazioni
                },
            };

            network = new vis.Network(container, data, options);

            network.on("doubleClick", f);
            network.on("hold",f2);
        }

        function deleteNodes(nodeIDS) {
            network.selectNodes(nodeIDS, false);
            console.log(network.getSelection());
            network.deleteSelected();
        }

        function stopSimulation() {
            network.stopSimulation();
        }


        function nodesList() {
            let data = nodes.getIds();
            let list = document.getElementById("nodes-list");
            for (i = 0; i < data.length; ++i) {
                var li = document.createElement('li');
                li.innerText = data[i];
                list.appendChild(li);
            }
        }

        function changeColor(c){
            let node1 = nodes.get('__delay');
            node1.color = c;

            let node2 = nodes.get('pin_page_for_write');
            node2.color = c;
            nodes.updateOnly([node1,node2]);
        }

        function hideNode(id){
            var n = nodes.get(id); // get the node
            var e = edges.get({filter: function(item){return (item.from == id)}}) // get the edges
            hiddenData.nodes.add(n);
            hiddenData.edges.add(e);
            nodes.remove(id);
            edges.remove(e);
        }

        function showNode(id){
            var n = hiddenData.nodes.get(id); // get the node
            var e = hiddenData.edges.get({filter: function(item){return (item.from == id)}}) // get the edges
            nodes.add(n);
            edges.add(e);
            hiddenData.nodes.remove(id);
            hiddenData.edges.remove(e);
        }


        function clusterById(id){
        	var clusterOptions = {
        		joinCondition: function(param){
        			//console.log(param)
        			return param.cid == '1';
        		}, 
        		clusterNodeProperties:{ id : "cluster1" },
                processProperties: function(clnp, n, e){
                    console.log(clnp);
                    console.log(n);
                    console.log(e);
                    return clnp;
                }
        	};
        	network.clustering.cluster(clusterOptions);
        }

        function clusterByColor(color){
            var clusterOptions = {
                joinCondition: function(param){
                    console.log(param);
                    return param.color.background == 'red';
                },
                clusterNodeProperties:{ id : "clusterRed", color: 'red'},
            }
            network.clustering.cluster(clusterOptions);
        }

        function openCluster(clusterId){
            network.openCluster(clusterId);
        }

        function f(params){
            //console.log(params.nodes);
            if(params.nodes.length == 1){
                 selected = nodes.get(params.nodes[0]);
                // if(selected.label === "CLUSTER_1"){
                //     toHide = nodes.get(selected.id);
                //     hiddenData.nodes.add(toHide);
                //     nodes.remove(selected.id);
                // 
                var clusterNodeId = "NODE_" + selected.cid;
                var clusterEdgeId = "EDGE_" + selected.cid;
                var fromDim = 10;
                var toDim   = 2;
                var clusterOptions = {
                    joinCondition: function(nodeOptions){
                        //console.log(nodeOptions, selected, (nodeOptions.cid == selected.cid));

                        return (nodeOptions.cid != undefined) && (nodeOptions.cid == selected.cid);
                    }, 
                    clusterNodeProperties: {
                        label:"CLUSTER_1",
                        id: clusterNodeId,
                        fixed: {x: true, y: true}, 
                        color:{
                            background:'rgba(0,0,0,1)', 
                            border:'rgba(0,0,0,0.5)',
                            highlight: {
                                background: 'rgba(0,0,0,0.1)',
                                border: 'rgba(0,0,0,1)'
                            },
                        }, 
                        size: 40,
                        shape:'square'                       
                    },
                    clusterEdgeProperties :{
                        label:"EDGE_CLUSTER_1",
                        id: clusterEdgeId,
                        arrows:{
                            to:{
                                enabled: true,
                                scaleFactor: toDim
                            },
                            from:{
                                enabled: true,
                                scaleFactor: fromDim
                            }
                        }                  
                    },
                }
                network.clustering.cluster(clusterOptions);

            }
        };

        function f2(params){
            console.log(params);
            if(params.nodes.length == 1 && params.nodes[0].startsWith('NODE_CLUSTER_'))
                network.clustering.openCluster(params.nodes[0]);
        };




    </script>


</head>
<body onload="draw();">

<div class="container mt-5 border border-primary">
        <button type="button" class="btn btn-danger" onclick="stopSimulation();">Stop</button>
        <button type="button" class="btn btn-danger" onclick="deleteNodes(['unlikely','likely']);">Delete Nodes</button>
        <button type="button" class="btn btn-success" onclick="clusterById('1');">Cluster by ID</button>
        <button type="button" class="btn btn-primary" onclick="openCluster('cluster1');">Open Cluster</button>
        <button type="button" class="btn btn-success" onclick="clusterByColor('red');">Cluster by Color</button>
        <button type="button" class="btn btn-primary" onclick="openCluster('clusterRed');">Open Cluster</button>
        <button type="button" class="btn btn-primary" onclick="nodesList();">Generate List</button>
        <button type="button" class="btn btn-outline-danger" onclick="changeColor('red');">Change color</button>
        <button type="button" class="btn btn-outline-primary" onclick="changeColor('blue');">Reset color</button>
        <button type="button" class="btn btn-danger" onclick="hideNode('1');">Hide Node</button>
        <button type="button" class="btn btn-success" onclick="showNode('1');">Show Node</button>
        <button type="button" class="btn btn-success" onclick="fun();">test</button>
</div>

<div class="container my-5 border border-primary">
    <div id="mynetwork" style="height: 600px"></div>
</div>

<div class="container my-5 p-3 border border-primary">
    <h5>Nodes list</h5>
    <ul id="nodes-list">
        <li>fst node</li>
    </ul>
</div>

</body>
</html>