<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cluster test</title>
    <link href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/vis-network/standalone/umd/vis-network.min.js') }}"></script>

    <script type="text/javascript">

        let nodes;
        let edges;
        let data;
        let hiddenData = {nodes: new vis.DataSet(), edges: new vis.DataSet()};
        var network;

        function draw() {
            nodes = new vis.DataSet(
            	[              
                {
                    id:1, 
                    label:"CLUSTER_1",
                    cid: "CLUSTER_1",
                    fixed: {x: true, y: true}, 
                    x:0, y:0, 
                    color:{
                        background:'rgba(0,0,0,0.1)', 
                        border:'rgba(0,0,0,0.5)',
                        highlight: {
                            background: 'rgba(0,0,0,0.1)',
                            border: 'rgba(0,0,0,1)'
                        },
                    }, 
                    size: 100,
                    shape:'square'},
                {id:'A',label:'A',cid:"CLUSTER_1", fixed: {x: true, y: true}, x:-40, y:-40},  
                // {   id:'my', 
                //     shape: 'custom',
                //         ctxRenderer: function({ ctx, x, y, state: { selected, hover }, style }){
                //             return{
                //                 drawNode(){
                //                     ctx.fillRect(25, 25, 100, 100);  
                //                 }
                //             }
                //     }
                // },

            	{id:'B',label:'B',cid:"CLUSTER_1", fixed: {x: true, y: true}, x:40, y:40, color: 'red'},
            	{id:'C',label:'C', color: 'red'},
                
                // {x:-100, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:-70, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:-40, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:-10, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:20, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:50, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:80, y:400,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:400,fixed: {x: true, y: true}, mass: 10},
                
                // {x:-100, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:-70, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:-40, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:-10, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:20, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:50, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:80, y:600,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:600,fixed: {x: true, y: true}, mass: 10},

                // {x:-100, y:430,fixed: {x: true, y: true}, mass: 10},
                // {x:-100, y:460,fixed: {x: true, y: true}, mass: 10},
                // {x:-100, y:490,fixed: {x: true, y: true}, mass: 10},
                // {x:-100, y:520,fixed: {x: true, y: true}, mass: 10},
                // {x:-100, y:550,fixed: {x: true, y: true}, mass: 10},
                // {x:-100, y:580,fixed: {x: true, y: true}, mass: 10},

                // {x:110, y:430,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:460,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:490,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:520,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:550,fixed: {x: true, y: true}, mass: 10},
                // {x:110, y:580,fixed: {x: true, y: true}, mass: 10},

                // {id:'X',x:0, y:500, color:'red',mass: 1},
                // {id:'Y',x:50, y:550, color:'red',mass: 1},


                ]);

            edges = new vis.DataSet(
                [
                {from:'A', to:'C', arrows:'to'},{from:'B', to:'C', arrows:'to'},
                {from:'C', to:'A',arrows:'to'},
                // {from:'X', to:'Y'},
                // {from:'X', to:'A',arrows:'from'}
                ]);
            data = {nodes: nodes, edges: edges};

            // create a network
            var container = document.getElementById("mynetwork");

            var options = {
                interaction: {
                    zoomSpeed: 2
                },
                edges: {
                    smooth: {
                        forceDirection: "none",
                        roundness: 0,
                    },
                   color:{
                        inherit: false,
                    }
                },
                layout: {
                    improvedLayout: true
                },
                physics: {
                    barnesHut: {
                        gravitationalConstant: -758211,
                        centralGravity: 0.6,
                        avoidOverlap: 1
                    },
                    stabilization: true,
                    timestep: 0.3,
                    wind: {x: 0, y: 0},
                    minVelocity:40 // più lo aumento più la rete diventa 'insensibile' a variazioni
                },
            };

            network = new vis.Network(container, data, options);

            network.on("doubleClick", closeCluster);
            network.on("hold",openCluster);
        }


        function clusterById(id){
        	var clusterOptions = {
        		joinCondition: function(param){
        			//console.log(param)
        			return param.cid == '1';
        		}, 
        		clusterNodeProperties:{ id : "cluster1" },
                processProperties: function(clnp, n, e){
                    console.log(clnp);
                    console.log(n);
                    console.log(e);
                    return clnp;
                }
        	};
        	network.clustering.cluster(clusterOptions);
        }

        function clusterByColor(color){
            var clusterOptions = {
                joinCondition: function(param){
                    console.log(param);
                    return param.color.background == 'red';
                },
                clusterNodeProperties:{ id : "clusterRed", color: 'red'},
            }
            network.clustering.cluster(clusterOptions);
        }


        function closeCluster(params){
            //console.log(params.nodes);
            var fromDim;
            var toDim;
            var containedEdge;

            if(params.nodes.length == 1){
                selected = nodes.get(params.nodes[0]);

                if(selected == null) return;

                var clusterNodeId = "NODE_" + selected.cid;
                var clusterEdgeId = "EDGE_" + selected.cid;

                var clusterOptions = {
                    joinCondition: function(nodeOptions){
                        return (nodeOptions.cid != undefined) && (nodeOptions.cid == selected.cid);
                    }, 
                    processProperties: function(clusterNodeProperties,containedNodes,containedEdges){
                        containedEdge = containedEdges[0].id;
                        containedNodesIds = new vis.DataSet(containedNodes).getIds();
                        toDim = 5;
                        fromDim = 3;
                        return clusterNodeProperties;
                    },
                    clusterNodeProperties: {
                        label:"CLUSTER_1",
                        id: clusterNodeId,
                        fixed: {x: true, y: true}, 
                        color:{
                            background:'rgba(0,0,0,1)', 
                            border:'rgba(0,0,0,0.5)',
                            highlight: {
                                background: 'rgba(0,0,0,0.8)',
                                border: 'rgba(0,0,0,1)'
                            },
                        }, 
                        size: 40,
                        shape:'square'                       
                    },
                    clusterEdgeProperties :{
                        label:"EDGE_CLUSTER_1",
                        id: "EDGE_CLUSTER_1",
                        color: 'red',
                        // arrows:{
                        //     to:{
                        //         enabled: true,
                        //         scaleFactor: toDim
                        //     },
                        //     from:{
                        //         enabled: true,
                        //         scaleFactor: fromDim
                        //     }
                        // }             
                    },
                };

                network.clustering.cluster(clusterOptions);
                e = network.getClusteredEdges(containedEdge)[0];
                console.log(toDim, fromDim);
                network.clustering.updateEdge(e, 
                    {color:'blue',                         
                    arrows:{
                            to:{
                                enabled: true,
                                scaleFactor: toDim
                            },
                            from:{
                                enabled: true,
                                scaleFactor: fromDim
                            }
                    } });

            }
        };

        function openCluster(params){
            console.log(params);
            if(params.nodes.length == 1){
                n = new String(params.nodes[0]);
                try{
                    if(n.startsWith('NODE_CLUSTER_'))
                        network.clustering.openCluster(params.nodes[0]);
                } catch(error){
                    console.log(error);
                }

            }                
        };




    </script>


</head>
<body onload="draw();">

<div class="container my-5 border border-primary">
    <div id="mynetwork" style="height: 600px"></div>
</div>

<div class="container my-5 p-3 border border-primary">
    <h5>Nodes list</h5>
    <ul id="nodes-list">
        <li>fst node</li>
    </ul>
</div>

</body>
</html>