<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "{{url_for('static', filename='dependencies/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type= "text/css" />
    <script src="{{url_for('static', filename='dependencies/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='dependencies/vis/vis-network.min.js')}}"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>dot example</title>
    <style type="text/css">
      #mynetwork {
        width: auto;
        height: 800px;
        border: 1px solid lightgray;
      }
    </style>

</head>
<body onload="myFunction({{ graph }})">

    <div class="container card m-5">
        <h1>graph imported from .DOT file in local directory</h1>
    </div>


    <div id="mynetwork" class="container card m-5"></div>
    <p class="container card m-5 p-5"> Source file: <br><br>{{ graph }}</p>

    <script type="text/javascript">
        // provide data in the DOT language
        function myFunction(g) {
            //console.log(g);
            // var DOTstring = g;
            //var DOTstring = 'digraph G {\\\n"__kmalloc"->"should_failslab" \\\n"__kmalloc"->"kmalloc_slab" \\\n}';
            var DOTstring = 'digraph G {"__kmalloc"->"should_failslab"\n "__kmalloc"->"kmalloc_slab"\n }';
            console.log(DOTstring);         
            var parsedData = vis.parseDOTNetwork(DOTstring);

            var data = {
              nodes: parsedData.nodes,
              edges: parsedData.edges
            }

            var options = parsedData.options;
            options = parsedData.options =
                {physics: {
                    enabled: true,
                    barnesHut: {
                        theta: 1,
                        gravitationalConstant: -20000,
                        centralGravity: 0.1,
                        springLength: 95,
                        springConstant: 0.04,
                        damping: 0.09,
                        avoidOverlap: 0
                    }
                },
                interaction:{
                    hideEdgesOnDrag: true,
                    hideEdgesOnZoom: true,
                },
                edges: {
                    smooth: {
                        enabled: false
                    },
                    width: 0.2,
                    arrows:{
                        to: {scaleFactor: 0.5}
                    }
                }
                };

            var container = document.getElementById("mynetwork");

            // create a network
            var network = new vis.Network(container, data, options);
        }

    </script>

</body>
</html>