{% extends 'base.html' %} <!-- extends base model for html files -->

{% block title %} Welcome {% endblock %}	<!-- set page's title -->

{% block body %}
<body>
	<div class="container card m-5 p-5">
		<h1>Kernel Visual Analysis</h1>
		<form id="symbol-name-form" action="/symbol" method="GET">
			<div class="mb-3">
		    	<label for="symbol-name" class="form-label">Symbol name</label>
		    	<input type="text" name="symbol-name" class="form-control">
		  	</div>
		  <button type="submit" class="btn btn-primary">Draw</button>
		</form>
	</div>	
</body>
{% endblock %}