{% extends 'base.html' %} <!-- extends base model for html files -->

{% block title %} Welcome {% endblock %}	<!-- set page's title -->

{% block body %}
<body>
<!-- 	<div class="card m-5 p-5">
		<h1>Kernel Visual Analysis</h1>
		<form id="symbol-name-form" action="/symbol" method="GET">
			<div class="mb-3">
		    	<label for="symbol-name" class="form-label">Symbol name</label>
		    	<input type="text" name="symbol-name" class="form-control">
		  	</div>
		  <button type="submit" class="btn btn-primary">Draw</button>
		</form>
	</div>	 -->

	<div class="card m-2 p-5 rounded-4 bg-dark">
		<div class="card-header">
			<h1 class="text-white ">Kva</h1>	
			<h5 class="text-white mt-3"> An interactive tool for Linux kernel functions dependency analysis </h5>		
		</div>

		<div class="card-body mt-5">
			<p class="text-white"> Type a kernel function name</p>	
			<form id="symbol-name-form" action="/symbol" method="GET">
				<div class="input-group w-50">
					<input type="text" name="symbol-name" class="form-control" placeholder="function name">
					<button class="btn btn-outline-light" type="submit">Go</button>
				</div>			
			</form>		
<!-- 			<div class="spinner-grow text-light my-5" role="status">
            	<span class="visually-hidden"></span>
            </div> -->
			
			{% if not_found -%}
			<p id="not-found" class="mt-3 fw-bold text-danger"> Entry point not found! Please type an available entry point.
			{%- endif %}
			</p>	
		</div>

		{% block footer %}
		{% endblock %}

        <div class="card-footer mt-2 pt-5">
            <div class="text-center text-white">Alessandro Carminati - Red Hat</div>   
            <div class="text-center text-white ">Gianluca Farinaccio  - Roma Tre University</div>        
            <div class="text-center text-white ">Maurizio Papini      - Red Hat</div> 
            <div class="text-center text-white ">Maurizio Patrignani  - Roma Tre University</div>          
            <div class="text-center text-white ">Feb. 2023</div>     
            <div class="d-flex justify-content-center mt-3">
                <a class="mx-2" href="https://www.github.com/isRoutine/kernel-visual-analysis" target="_blank">
                    <img src="{{url_for('static', filename='media/icons/github.png')}}" style="width:40px; height:auto ;">
                </a>
            </div>
        </div>
	</div>	
</body>
{% endblock %}