<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href= "{{url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet" type= "text/css" />
    <script src="{{url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='node_modules/vis-network/standalone/umd/vis-network.min.js')}}"></script>

    <title>index</title>
</head>
<body>
    <h1> Hello World!!</h1>
    <div class="container">
      <h1>basicUsage vis.js</h1>
    </div>

    <div class="container">
      <h5>Bootstrap</h5>
      <button type="button" class="btn btn-primary">Primary</button>
      <button type="button" class="btn btn-secondary">Secondary</button>
      <button type="button" class="btn btn-success">Success</button>
      <button type="button" class="btn btn-danger">Danger</button>
      <button type="button" class="btn btn-warning">Warning</button>
      <button type="button" class="btn btn-info">Info</button>
      <button type="button" class="btn btn-light">Light</button>
      <button type="button" class="btn btn-dark">Dark</button>
      <button type="button" class="btn btn-link">Link</button>
    </div>

    <div id="mynetwork" style="width: auto; height: 700px;" class="container card m-5"></div>
    <div id="config"></div>


    <script type="text/javascript">
      // create an array with nodes
      var nodes = new vis.DataSet([
        { id: "Node1", label: "Node 1", group: 1},
        { id: "Node2", label: "Node 2"},
        { id: "Node3", label: "Node 3"},
        { id: "Node4", label: "Node 4"},
        { id: "Node5", label: "Node 5"},
        { id: "a", label: "Node 7" , x:0, y:0, physics: false},
        { id: "A", label: "Node 6" , x:0, y:0, physics: false},        
 
      ]);

      // create an array with edges
      var edges = new vis.DataSet([
        { from: "Node1", to: "Node3", group: 1},
        { from: 1, to: 2 },
        { from: 2, to: 4 },
        { from: 2, to: 5 },
        { from: 3, to: 3 },
      ]);

      var subsystems = {
        "subystem1": ["Node1", "Node2"], 
        "subsystem2": ["Node3", "Node4"],
      }

      // create a network
      var container = document.getElementById("mynetwork");
      var data = {
        nodes: nodes,
        edges: edges,
      };

      var options = {
          interaction: {
              zoomSpeed: 3
          },
          edges: {
              smooth: {
                  forceDirection: "none",
                  roundness: 0
              }
          },
          layout: {
              improvedLayout: false,
              clusterThreshold: 150
          },
          physics: {
              barnesHut: {
                  gravitationalConstant: -758211,
                  centralGravity: 0.6,
                  avoidOverlap: 1
              },
              timestep: 0.3,
              minVelocity:40,
              stabilization: false
          },
          // configure: {
          //             filter: function (option, path) {
          //               if (path.indexOf("physics") !== -1) {
          //                 return true;
          //               }
          //               if (path.indexOf("smooth") !== -1 || option === "smooth") {
          //                 return true;
          //               }
          //               return false;
          //             },
          //             container: document.getElementById("config"),
          //           },
      };


      var network = new vis.Network(container, data, options);

      for(const [key, value] of Object.entries(subsystems)){
        //console.log(key + '-->');
        for(const node of value){
          //console.log(y);
          x = nodes.get(node);
          if(x != undefined){
            x.group = key;
            nodes.updateOnly(x);
          }
        }
      }

    </script>


</body>
</html>