<!DOCTYPE html>
{% extends 'base.html' %} <!-- extends base model for html files -->

{% block title %} {{symbol_name}} {% endblock %}	<!-- set page's title -->

<!-- {% block body %} -->
<body onload="drawSymbol('{{ symbol_name }}');">
    <div class="container card m-5 p-3">
        <h1>/symbol/{{symbol_name}}</h1>
    </div>
    <div id="network" class="container card m-5 p-5" style="width: auto; height: 700px;">    </div>


    <script type="text/javascript">

        function createNetwork(data){
            console.log('creazione');
            var parsedData = vis.parseDOTNetwork(data);
            var nodes = new vis.DataSet(parsedData.nodes);
            var edges = new vis.DataSet(parsedData.edges);
            networkData = {nodes: nodes, edges: edges};
            //console.log(networkData.nodes.get(), networkData.edges.get());

            var options = {
                interaction: {
                    zoomSpeed: 3
                },
                edges: {
                    smooth: {
                        forceDirection: "none",
                        roundness: 0
                    }
                },
                layout: {
                    improvedLayout: false,
                    clusterThreshold: 150
                },
                physics: {
                    barnesHut: {
                        gravitationalConstant: -758211,
                        centralGravity: 0.6,
                        avoidOverlap: 1
                    },
                    timestep: 0.3,
                    minVelocity:10,
                    stabilization: false
                }};

            var container = document.getElementById("network");
            var network = new vis.Network(container, networkData, options);
            network.stopSimulation();
        };

        function addSubsystems(symbols){
            symbols.forEach(function(symbol){
              [[,symname],[,ss]] = Object.entries(symbol);
              if(ss.length > 0){
                n = networkData.nodes.get(symname);
                n.group = ss[0];
                networkData.nodes.updateOnly(n);
              }
            });
        }

        function drawSymbol(symbolName){
            console.log('ciao');
            fetch('/retrieve/symbol/' + symbolName, { method: 'GET'})
            .then(function (response){
                if(response.ok){
                    response.json()
                    .then( function(response) {
                        console.log(response);
                        createNetwork(response.graph);
                        addSubsystems(response.symbols);
                    })
                    // .catch( () => console.log('parsing json error'));
                }
            })
            .catch(error => console.log(error));
        };

    </script>   
</body>
<!-- insert here your body code -->

<!-- {% endblock %} -->